In [1]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [2]:
import numpy as np
import pandas as pd

In [3]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [4]:
url = "http://bit.ly/HDSC-Dataset"
fuel_unit = pd.read_csv(url)

In [5]:
fuel_unit.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [6]:
fuel_unit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

Fuel type code with the lowest average fuel cost per unit burned

In [7]:
fuel_unit['fuel_type_code_pudl'].unique()

array(['coal', 'gas', 'nuclear', 'oil', 'waste', 'other'], dtype=object)

In [8]:
fuel_type_group = fuel_unit.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()
fuel_type_group

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [9]:
fuel_type_group.argmin() # Shows the index of the minimum value

1

In [10]:
fuel_type_group.min() # Shows minimum value

13.659396569737135

In [11]:
fuel_type_group.to_frame().iloc[fuel_type_group.argmin()].name # Shows the fuel type code

'gas'

Standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places.

In [12]:
# Standard Deviation
fuel_unit['fuel_mmbtu_per_unit'].std()

10.600220307806886

In [13]:
# Standard Deviation to 2 dp
format(fuel_unit['fuel_mmbtu_per_unit'].std(),".2f")

'10.60'

In [14]:
# 75th Percentile
fuel_unit['fuel_mmbtu_per_unit'].quantile(0.75)

17.006

In [15]:
# 75th percentile to 2 dp
format(fuel_unit['fuel_mmbtu_per_unit'].quantile(0.75),".2f")

'17.01'

Skewness and kurtosis for the fuel quantity burned in two decimal places

In [16]:
# Skewness
fuel_unit['fuel_qty_burned'].skew()

15.851495469109503

In [17]:
# Skewness in 2 dp
format(fuel_unit['fuel_qty_burned'].skew(),".2f")

'15.85'

In [18]:
# Kurtosis
fuel_unit['fuel_qty_burned'].kurtosis()

651.3694501337732

In [19]:
# Kurtosis in 2 dp
format(fuel_unit['fuel_qty_burned'].kurtosis(),".2f")

'651.37'

Feature of the missing values, the total number of the missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places

In [20]:
fuel_unit.columns[fuel_unit.isna().any()][0]

'fuel_unit'

The feature of the missing value is "fuel unit"

In [21]:
fuel_unit.isna().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

The total number of the missing value is 180

In [22]:
# Percentage of the missing row
(fuel_unit['fuel_unit'].isna().sum()*100)/len(fuel_unit['fuel_unit'])

0.6096941367747181

In [23]:
# Percentage of the missing row in 3 dp
format((fuel_unit['fuel_unit'].isna().sum()*100)/len(fuel_unit['fuel_unit']),".3f")

'0.610'

Features that has the second and third lowest correlation with the Fuel Cost Per Unit Burned

In [24]:
fuel_unit.corr()['fuel_cost_per_unit_burned'].sort_values()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [25]:
fuel_unit.corr()['fuel_cost_per_unit_burned'].sort_values().to_frame().index[1:3]

Index(['fuel_qty_burned', 'fuel_mmbtu_per_unit'], dtype='object')

In [26]:
for i in fuel_unit.corr()['fuel_cost_per_unit_burned'].sort_values().to_frame().index[1:3]:
    print(i)

fuel_qty_burned
fuel_mmbtu_per_unit

Second lowest: fuel_qty_burned <br>
Third lowest: fuel_mmbtu_per_unit

For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994

In [27]:
group_ft = fuel_unit.groupby('fuel_type_code_pudl')

In [28]:
group_coal = group_ft.get_group('coal').groupby('report_year').mean()

In [29]:
group_coal['fuel_cost_per_unit_burned'].pct_change(periods=4)

report_year
1994         NaN
1995         NaN
1996         NaN
1997         NaN
1998   -0.124586
1999    0.250466
2000    7.460668
2001   -0.603206
2002    0.000281
2003    1.452626
2004   -0.879964
2005   -0.176375
2006    0.373035
2007   -0.582418
2008    0.487879
2009    3.165673
2010    6.394600
2011    0.339701
2012    0.205595
2013   -0.614207
2014   -0.813723
2015   -0.054435
2016   -0.134378
2017   -0.165355
2018   -0.139286
Name: fuel_cost_per_unit_burned, dtype: float64

Year with the highest average fuel cost per unit delivered

In [30]:
group_ry = fuel_unit.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().to_frame()

In [31]:
group_ry[group_ry.fuel_cost_per_unit_delivered==group_ry.fuel_cost_per_unit_delivered.max()]

             fuel_cost_per_unit_delivered
report_year
1997                         11140.197239